<h1>Employers</h1>
<a href="/employers/create" class="btn btn-danger my-2">Create</a>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam nihil nulla accusantium quisquam laudantium totam unde, temporibus aliquam. Placeat, aspernatur fugiat ea quibusdam aliquam quis laborum ipsam iste quo magni?</p>
<ul>
    <h2>{{title}}</h2>
    {{#each employers}}
        <li>{{this.name}}</li>
    {{/each}}
</ul>